# ignore generated folders
/test
/results

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

/.history
.env
.env.local